scipy2022_workshop_data/2017_analytic/composite.tif
scipy2022_workshop_data/2017_visual/composite.tif
scipy2022_workshop_data/2018_analytic/composite.tif
scipy2022_workshop_data/2018_visual/composite.tif
scipy2022_workshop_data/2019_analytic/composite.tif
scipy2022_workshop_data/2019_visual/composite.tif
scipy2022_workshop_data/2020_analytic/composite.tif
scipy2022_workshop_data/2020_visual/composite.tif
scipy2022_workshop_data/2021_analytic/composite.tif
scipy2022_workshop_data/2021_visual/composite.tif
scipy2022_workshop_data/2022_analytic/composite.tif
scipy2022_workshop_data/2022_visual/composite.tif
.DS_Store
